"""Desctiption

Make kfold 

"""

In [6]:
import glob
import cv2
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import pandas as pd
from sklearn.model_selection import KFold

%matplotlib inline

In [2]:
img_names = sorted(glob.glob('../../yamaha_v0/train/**/rgb.jpg'))
ann_names = sorted(glob.glob('../../yamaha_v0/train/**/labels.png'))

print(len(img_names), len(ann_names))

931 931

In [3]:
pallet = {
    "non-traversable low vegetation" : [0, 160, 0],
    "sky" : [1, 88, 255],
    "high vegetation" : [40, 80, 0],
    "traversable grass" : [128, 255, 0],
    "rough trail" : [156, 76, 30],
    "smooth trail" : [178, 176, 153],
    "obstacle" : [255, 0, 0],
    "truck" : [255, 255, 255],
    "puddle" : [255, 0, 128]
}

In [4]:
df = pd.DataFrame(data=img_names, columns=['file_name'])

In [5]:
df.head()

                                 file_name
0  ../../yamaha_v0/train/iid000000/rgb.jpg
1  ../../yamaha_v0/train/iid000001/rgb.jpg
2  ../../yamaha_v0/train/iid000002/rgb.jpg
3  ../../yamaha_v0/train/iid000003/rgb.jpg
4  ../../yamaha_v0/train/iid000004/rgb.jpg

In [7]:
kf = KFold(n_splits=5)

In [8]:
kf.get_n_splits(img_names)

5

In [13]:
for n, (train_idx, test_idx) in enumerate(kf.split(img_names)):
    #print(f"{n}, Train: {train_idx}, Test: {test_idx}")
    df.loc[test_idx, 'fold'] = int(n)
df['fold'] = df['fold'].astype(int)

In [15]:
df.to_csv('../../yamaha_v0/train.csv', index=False)

In [16]:
df.sample(5)

                                   file_name  fold
828  ../../yamaha_v0/train/iid001245/rgb.jpg     4
485  ../../yamaha_v0/train/iid000629/rgb.jpg     2
729  ../../yamaha_v0/train/iid001146/rgb.jpg     3
903  ../../yamaha_v0/train/iid001320/rgb.jpg     4
611  ../../yamaha_v0/train/iid000773/rgb.jpg     3